<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjl.water_electricity_manager.mapper.DormitoryMapper">
  <resultMap id="BaseResultMap" type="com.mjl.water_electricity_manager.domain.Dormitory">
    <!--@mbg.generated-->
    <!--@Table dormitory-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="occupied" jdbcType="INTEGER" property="occupied" />
    <result column="dormitory_building_id" jdbcType="INTEGER" property="dormitoryBuildingId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, capacity, occupied, dormitory_building_id
  </sql>
</mapper>