<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjl.water_electricity_manager.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mjl.water_electricity_manager.domain.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_type_id" jdbcType="INTEGER" property="userTypeId"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `name`,
        user_type_id,
        gender,
        age,
        email,
        phone,
        `password`,
        dormitory_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="searchByDormitoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where dormitory_id = #{dormitoryId,jdbcType=INTEGER}
    </select>

    <insert id="insertUser">
        <!--@mbg.generated-->
        <!--      调用存储过程inser_user-->
        call insert_user(#{name}, #{userTypeId}, #{gender}, #{age}, #{email}, #{phone}, #{password}, #{dormitoryId})
    </insert>

    <update id="updateUserById">
        <!--@mbg.generated-->
        call update_user(#{name}, #{userTypeId}, #{gender}, #{age}, #{email}, #{phone}, #{password}, #{dormitoryId},
                         #{id})
    </update>

    <delete id="deleteUserById">
        <!--@mbg.generated-->
        call delete_user(#{id})
    </delete>
</mapper>